<nav class="admin-footnavbar">
    <a href="#/dashboard" class="footnav-link"><i class="fa-solid fa-chart-line"></i><span>Home</span></a>
    <a href="#/detail-rt" class="footnav-link"><i class="fa-solid fa-users-gear"></i><span>RT</span></a>
    <a href="#/detail-rw" class="footnav-link"><i class="fa-solid fa-sitemap"></i><span>RW</span></a>
    <a href="#/galeri" class="footnav-link"><i class="fa-solid fa-images"></i><span>Galeri</span></a>
    <a href="#/layanan" class="footnav-link"><i class="fa-solid fa-file-lines"></i><span>Layanan</span></a>
    <a href="#/pengumuman-berita" class="footnav-link"><i class="fa-solid fa-newspaper"></i><span>Berita</span></a>
    
    <!-- Tombol Logout Khusus HP -->
    <button type="button" class="footnav-link footnav-logout btn-logout-action">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Keluar</span>
    </button>
</nav>