<nav class="bottom-nav">
    <a href="#hero" class="nav-item active">
        <i class="fa-solid fa-house"></i>
        <span>Beranda</span>
    </a>
    <a href="#tentang" class="nav-item">
        <i class="fa-solid fa-circle-info"></i>
        <span>Tentang</span>
    </a>
    <a href="#profil-rt" class="nav-item">
        <i class="fa-solid fa-users-gear"></i>
        <span>RT</span>
    </a>
    <a href="#profil-rw" class="nav-item">
        <i class="fa-solid fa-sitemap"></i>
        <span>RW</span>
    </a>
    <a href="#berita" class="nav-item">
        <i class="fa-solid fa-newspaper"></i>
        <span>Berita</span>
    </a>
    <a href="#galeri" class="nav-item">
        <i class="fa-solid fa-images"></i>
        <span>Galeri</span>
    </a>
    <a href="#layanan" class="nav-item">
        <i class="fa-solid fa-file-lines"></i>
        <span>Layanan</span>
    </a>
</nav>