<header class="navbar">

    <div class="container">

        <div class="nav-left">

            <button class="icon-btn" id="menuToggle">

                <i class="fa-solid fa-bars"></i>

            </button>

            <img src="assets/img/logo.png"
            class="logo">

            <h2 class="site-title">

                RW 05 HARAPAN BARU

            </h2>

        </div>

        <div class="nav-right">

            <button class="icon-btn"
            id="themeToggle">

                <i class="fa-solid fa-moon"></i>

            </button>

        </div>

    </div>

</header>