<aside class="sidebar" id="sidebar">

    <div class="sidebar-header">

        <img src="assets/img/logo.png" alt="Logo Vireta 2">

        <div>

            <h3>VIRETA 2</h3>

            <small>Villa Regensi Tangerang 2</small>

        </div>

    </div>

    <ul class="sidebar-menu">

        <li>

            <a href="index.html">

                <i class="fa-solid fa-house"></i>

                Beranda

            </a>

        </li>

        <li>

            <a href="tentang.html">

                <i class="fa-solid fa-circle-info"></i>

                Tentang Desa

            </a>

        </li>

        <li>

            <a href="profil-rt.html">

                <i class="fa-solid fa-users-gear"></i>

                Profil RT

            </a>

        </li>

        <li>

            <a href="profil-rw.html">

                <i class="fa-solid fa-sitemap"></i>

                Profil RW

            </a>

        </li>

        <li>

            <a href="berita.html">

                <i class="fa-solid fa-newspaper"></i>

                Berita RW

            </a>

        </li>

        <li>

            <a href="galeri.html">

                <i class="fa-solid fa-images"></i>

                Galeri RW

            </a>

        </li>

        <li>

            <a href="layanan.html">

                <i class="fa-solid fa-file-lines"></i>

                Layanan

            </a>

        </li>

    </ul>

</aside>