<aside class="sidebar"
id="sidebar">

<div class="sidebar-header">

<img src="assets/img/logo.png">

<div>

<h3>

RW 05

</h3>

<small>

Harapan Baru

</small>

</div>

</div>

<ul class="sidebar-menu">

<li>

<a href="index.html">

<i class="fa-solid fa-house"></i>

Beranda

</a>

</li>

<li>

<a href="struktur.html">

<i class="fa-solid fa-users"></i>

Struktur RW

</a>

</li>

<li>

<a href="layanan.html">

<i class="fa-solid fa-file"></i>

Layanan

</a>

</li>

<li>

<a href="rt.html">

<i class="fa-solid fa-house-user"></i>

RT

</a>

</li>

</ul>

</aside>